@{
    var currency = "EUR";
    var product = new
    {
        Name = "Product Name",
        Description = "This is brief description",
        ImageUrl = "~/images/fallback-img.png",
        Price = 1.23,
        OldPrice = 9.99,
        DiscountText = "-36%",
    };
}


<div class="product-card">
    <div class="img-wrapper">
        <img src="@Url.Content(product.ImageUrl)" alt="@product.Name's image">
    </div>
    <div class="info">
        <div class="row">
            <div class="col-12">
                <h6 class="product-name">@product.Name</h6>
                <p class="product-description">@product.Description</p>
            </div>
            <div class="col-6">
                <div class="price-section">
                    <p class="current-price">
                        @product.Price <span class="currency">@currency</span>
                    </p>
                    <p class="old-price">@product.OldPrice</p>
                </div>
            </div>
            <div class="col-6">
                <div class="action text-right">
                    <button class="btn btn-secondary">Buy now</button>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay">
        <p class="top-left">
            @product.DiscountText
        </p>
    </div>


</div>