@model DataAccess.Models.Product

@{
    var currency = "EUR";
    ViewBag.Title = "Product Detail";
    Layout = "_Layout";
    var product = Model;
    var tags = new List<string>();
    if (product != null)
    {
        tags.Add(product.DiscountText);
        if (product.DeliveryCost == 0)
        {
            tags.Add("Free Shipping");
        }
    }

}

<div class="px-4">
    <div class="row product-detail-info">
        <div class="col-md-6">
            <div class="product-img">
                <div class="overlay">
                    <div class="top-left">
                        <ul class="tags">
                            @foreach (var tag in tags)
                            {
                                <li class="tag">@tag</li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="img-slider">
                    <div class="img-item">
                        <img src="@Url.Content(product.ImageUrl)" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h1 class="title">@product.Name</h1>
            <div class="sub-title">
                <vc:star stars="@product.Stars"/>
                <a href="" class="review-count ml-2">(@product.ReviewCount customer(s) review)</a>
            </div>
            <div class="description">
                <p>@product.Description</p>
            </div>
            <ul class="row key-value-list mt-5">
                <div class="col-md-6">
                    <li class="key-value-item">
                        <span class="key">SKU</span>
                        <span class="value">@product.Sku</span>
                    </li>
                </div>
                @foreach (var (key, value) in @product.ExtraInfo)
                {
                    <div class="col-md-6">
                        <li class="key-value-item">
                            <span class="key">@key</span>
                            <span class="value">@value</span>
                        </li>
                    </div>
                }

            </ul>
            <div class="row">
                <div class="col-sm-8">
                    <div class="card mt-5 p-2">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="price-section">
                                    <p class="current-price">
                                        @product.Price <span class="currency">@currency</span>
                                    </p>
                                    <p class="old-price">
                                        @product.OldPrice <span class="currency">@currency</span>
                                    </p>
                                </div>
                            </div>
                            <div class="js-update-cart-box" data-id="@product.Id" data-name="@product.Name">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row product-detail-extra-info mt-5">
        <div class="col-12">
            <nav class="nav">
                <a class="nav-link" id="nav-description-tab" data-toggle="tab" href="#nav-description" role="tab" aria-controls="nav-description" aria-selected="false">Description</a>
                <a class="nav-link active" id="nav-reviews-tab" data-toggle="tab" href="#nav-reviews" role="tab" aria-controls="nav-reviews" aria-selected="true">Reviews</a>
                <a class="nav-link" id="nav-questions-tab" data-toggle="tab" href="#nav-questions" role="tab" aria-controls="nav-questions" aria-selected="false">Questions</a>
            </nav>

            <div class="tab-content mt-5" id="nav-tabContent">
                <div class="tab-pane fade" id="nav-description" role="tabpanel" aria-labelledby="nav-home-tab">
                    @Html.Raw(product.VerboseDescription)
                </div>
                <div class="tab-pane fade show active" id="nav-reviews" role="tabpanel" aria-labelledby="nav-reviews-tab">
                    <vc:customer-review product-id="@product.Id"/>
                </div>
                <div class="tab-pane fade" id="nav-questions" role="tabpanel" aria-labelledby="nav-questions-tab">There is no question</div>
            </div>
        </div>


    </div>
</div>

@section Scripts
{
    <script type="text/javascript" src="~/bundle/product-detail/product-detail.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            run()
        })
    </script>
}